*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 15px;
  }
  h5{
    font-size: 80px;
  }
}

.App{
  position: relative;
  .background{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;

  }
  .container{
    z-index: 100;
    width: 100%;
    height: 100vh;
    .top{
      padding: 30px;
      width: 100%;
      height: 60%;
      .input{
        width: 200px;
        height: 40px;
        padding: 0 10px;
        border-radius: 25px;
        outline: none;
        border: none;
        margin: auto;
      }
      .data{
        height: 250px;
        padding-top: 50px;
        position: relative;

        .des{
          position: absolute;
          right: 0;
          bottom: 100px;
          transform: rotate(270deg);
        }
      }
    }
    .bottom{
      width: 100%;
      height: 40%;
      .cont-bottom{
        border-radius: 10px;
        margin: auto;
        padding: 20px;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .value{

        }
      }
    }
  }
}